{{> head}}    
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>San Gregorio</h1>
        <p>
            Gregorio Magno (Roma, c. 540-ibíd., 12 de marzo de 604), Gregorio I o también San Gregorio, 
            fue el sexagésimo cuarto papa de la Iglesia católica. Es uno de los cuatro Padres de la Iglesia 
            latina, junto con Jerónimo de Estridón, Agustín de Hipona y Ambrosio de Milán.Nota 1​ Fue proclamado 
            Doctor de la Iglesia, el 20 de septiembre de 1295, por Bonifacio VIII. También fue el primer monje 
            que alcanzó la dignidad pontificia, y probablemente la figura definitoria de la posición medieval 
            del papado como poder separado del Imperio romano. Hombre profundamente místico, la Iglesia romana 
            adquirió gracias a él un gran prestigio en todo Occidente, y después de él los papas quisieron en 
            general titularse como él lo hizo: «siervo de los siervos de Dios»
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/san_gregorio.jpg" class="img-thumbnail">
    </div>
    
</div>

{{> footer }}